html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.logo-font {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 200;
  font-family: 'Pattaya', sans-serif;
}

h1 {
  font-size: 7.2rem;
  line-height: 8rem;
  font-weight: 300;
  font-family: 'Epilogue', sans-serif;
}

h2 {
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 200;
  font-family: 'Epilogue', sans-serif;
}

.h3 {
  font-size: 4rem;
  line-height: 4.8rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.p-smaller {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

span {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

ul {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
}

.blue p {
  color: #608AED;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.grey {
  color: #333333;
}

.color-blue {
  color: #608AED;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify_space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hover-five:hover {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.hover-five:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button {
  cursor: pointer;
  width: 15.4rem;
  height: 4.8rem;
  border: solid 0.05rem white;
  border-radius: 0.5rem;
}

.button:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.button:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-button {
  margin-top: 0.8rem;
  margin-left: auto;
}

.nav-button a {
  color: white;
  text-align: center;
  line-height: 4.8rem;
}

.button-blue {
  cursor: pointer;
  background-color: #608AED;
  /* blue */
  border: none;
  border-radius: .5rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 4.8rem;
  width: 17rem;
}

.button-blue:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.button-blue:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button-pink {
  background-color: #F18990;
  /* Pink */
  border: none;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 4.8rem;
  width: 20rem;
}

.button-pink:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.button-pink:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-background {
  height: 9.6rem;
  width: 9.6rem;
  background-color: #F5F5FA;
  border-radius: 50%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-white {
  background-color: #ffff;
  /* blue */
  border: .05rem solid #608AED;
  border-radius: .25em;
  color: #608AED;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  line-height: 4.8rem;
  width: 17rem;
  margin: 6rem auto 13rem auto;
}

.button-white:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.button-white:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.seven-a {
  margin: 0 auto;
}

.cards {
  width: 27rem;
  height: 28rem;
  background-color: white;
  padding: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
}

.cards:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.cards:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.highlighted-cards {
  width: 27rem;
  height: 28rem;
  background-color: #959DD2;
  padding: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 1rem auto;
}

.highlighted-cards:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.highlighted-cards:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.transparent-cards {
  margin-bottom: 16.6rem;
}

.transparent-cards h3 {
  margin-top: 2.5rem;
  width: 100%;
  max-width: 27rem;
}

.cards-testimonials img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}

.cards-testimonials p {
  color: #333333;
  margin-top: 3.2rem;
}

.cards-testimonials {
  background-color: #FFFFFF;
  padding: 3.2rem;
  border-radius: 1rem;
  margin: 1rem auto;
}

.cards-testimonials:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.cards-testimonials:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.testimonials__profiles img {
  display: block;
  margin-top: 2rem;
  margin-right: 1rem;
}

.testimonials__profiles p {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.testimonial__p {
  height: 20rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.card-seven {
  padding: 3.2rem;
  background-color: #333333;
  max-height: 44.8rem;
  height: 100%;
  margin: 1rem auto;
}

.card-seven:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.card-seven:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-seven h3 {
  color: #FFFFFF;
}

.card-seven h4 {
  color: #FFFFFF;
  margin-top: 28rem;
  margin-bottom: 2rem;
}

.card-seven__second img {
  height: 22.4rem;
}

.card-seven__upper {
  height: 22.4rem;
  background-color: #D8D8D8;
  margin: 1rem auto;
}

.card-seven__upper:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.card-seven__upper:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.second__details {
  padding: 2rem;
  padding-top: 3rem;
  background-color: #FFFFFF;
  padding-bottom: 5rem;
  height: 22.4rem;
  margin: 1rem auto;
}

.second__details:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.second__details:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.second__details h3 {
  margin-top: 2rem;
}

.card-seven__third-column {
  background-color: #FFFFFF;
  padding: 2rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
  padding-bottom: 9rem;
  height: 22rem;
}

.card-seven__third-column:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.card-seven__third-column:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-seven__third-column h3 {
  margin-top: 2rem;
}

.card-seven__third-column p {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.second__details p {
  margin-top: 2rem;
}

.grey {
  color: #C4C4C4;
}

@media screen and (max-width: 576px) {
  .testimonial__p {
    height: auto;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;
}

.column {
  padding: 0 15px;
  width: 100%;
}

.column-1 {
  width: calc(1 / 12 * 100%);
}

.column-2 {
  width: calc(2 / 12 * 100%);
}

.column-3 {
  width: calc(3 / 12 * 100%);
}

.column-4 {
  width: calc(4 / 12 * 100%);
}

.column-5 {
  width: calc(5 / 12 * 100%);
}

.column-6 {
  width: calc(6 / 12 * 100%);
}

.column-7 {
  width: calc(7 / 12 * 100%);
}

.column-8 {
  width: calc(8 / 12 * 100%);
}

.column-9 {
  width: calc(9 / 12 * 100%);
}

.column-10 {
  width: calc(10 / 12 * 100%);
}

.column-11 {
  width: calc(11 / 12 * 100%);
}

.column-12 {
  width: calc(12 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .column-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .column-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .column-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .column-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .column-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .row {
    padding: 0;
  }
}

header {
  color: #ffffff;
}

.menu ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul li {
  line-height: 6.4rem;
}

.menu ul li:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.menu ul li:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo_head {
  margin-top: 1rem;
}

.logo_head img {
  display: none;
}

.logo_head h2 {
  line-height: 4.8rem;
  font-size: 4rem;
  margin-right: auto;
}

.logo_head h2:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.logo_head h2:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 576px) {
  .logo h2 {
    margin-right: auto;
  }
  .logo_head img {
    display: block;
  }
}

.hero {
  background-color: #4a56a7;
  padding-bottom: auto;
}

@media (min-width: 1200px) {
  .hero {
    min-height: 720px;
    height: 100vh;
  }
}

.hero__img {
  background-color: #4a56a7;
}

.hero__img img {
  width: 100%;
  max-width: 50rem;
  margin-top: auto;
}

.hero__main {
  padding-top: 18rem;
  padding-bottom: 23rem;
  color: white;
  display: block;
}

.dropbtn {
  display: none;
}

.hero__profile img {
  margin-top: -55rem;
  margin-left: 5rem;
}

.hero__main h1 {
  margin: 2rem 0;
}

.hero__main p {
  padding-bottom: 2rem;
}

.hero-two span {
  color: #5864ba;
}

.hero-two .head {
  text-align: center;
  margin-top: 13.8rem;
  margin-bottom: 7.2rem;
  width: 100%;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.hero-two .head h2 {
  margin: 2.5rem 0;
}

.hero-two {
  background-color: #f5f5fa;
  padding-top: 0.1rem;
  padding-bottom: 20.3rem;
}

.hero-three {
  background-color: #f5f5fa;
  padding-top: 0.1rem;
  z-index: 1;
}

.highlighted-cards span {
  color: white;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
}

.hero-three__head {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.hero-three__head span {
  color: #5864ba;
}

.hero-three__head h2 {
  margin: 2rem 0;
}

.hero-four__title {
  padding: 9rem;
}

.hero-four__title h2 {
  font-size: 4rem;
  line-height: 4.8rem;
}

.hero-four {
  background-color: #5864ba;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.linear-background {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #5864ba), color-stop(50%, #f5f5fa));
  background: linear-gradient(to top, #5864ba 50%, #f5f5fa 50%);
}

.hero-four__head {
  background-color: #f18990;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border-radius: 1rem;
}

.hero-four__contents {
  padding: 10rem 0;
  color: #ffffff;
}

.hero-four__contents h2 {
  margin: 2rem 0;
}

.hero-four__contents a {
  margin-top: 3rem;
}

.hero-four__button img {
  width: 100%;
  max-width: 45rem;
}

.hero-four__button {
  position: relative;
  max-width: 45.3rem;
  width: 100%;
  padding: 0 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.hero-four__button img {
  max-width: 45rem;
  width: 100%;
  position: absolute;
  top: -10rem;
}

.hero-four__button a {
  padding-left: 20rem;
}

.service-img img {
  max-width: 64rem;
  width: 100%;
}

.hero-five__heading {
  margin: 0 auto;
  color: white;
  margin-bottom: 7rem;
  max-width: 47rem;
  width: 100%;
  text-align: center;
}

.hero-five {
  background-color: #5864ba;
  padding-bottom: 32.7rem;
}

.hero-five__heading h2 {
  margin: 2rem 0;
}

.fa-quote-right {
  color: #f18990;
}

.hero-info_background {
  top: 50%;
  background-color: #959dd2;
  padding: 7rem;
  margin: 1rem;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .hero-info_background {
    padding: 7rem 1rem;
  }
}

.hero-six__infos {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
}

.infos-icons {
  background-color: #b2b8e6;
  display: block;
  width: 9.4rem;
  height: 9.4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  margin-right: 5rem;
}

.margin-top {
  margin-top: 1rem;
}

.hero-six {
  background-color: #f2f2f2;
}

.hero-six__upper {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f2f2f2), color-stop(50%, #5864ba));
  background: linear-gradient(to top, #f2f2f2 50%, #5864ba 50%);
}

.hero-six__main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.hero-six__main h2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.hero-six__main a {
  margin-top: 3rem;
}

.margin-top-botm {
  margin: 10rem 0;
}

.gallery img {
  max-width: 70rem;
  width: 100%;
}

.hero-seven {
  background-color: #f2f2f2;
  padding-bottom: 27rem;
}

.hero-seven__head {
  text-align: center;
  width: 100%;
  max-width: 47rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.hero-seven__head h2 {
  margin: 3rem auto;
}

.seven-cards__background {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f2f2f2), color-stop(50%, #13162b));
  background: linear-gradient(to bottom, #f2f2f2 50%, #13162b 50%);
}

.second-p {
  margin-bottom: 2rem;
}

.clinic-one img {
  margin-top: 17rem;
  max-width: 17rem;
  max-height: 21.6rem;
}

.clinic-two img {
  width: 25rem;
  height: 32.6rem;
}

.clinic-five img {
  width: 18rem;
  height: 24.6rem;
}

.clinic-six img {
  width: 17rem;
  height: 28rem;
}

.clinics {
  margin-top: 20rem;
}

@media screen and (min-width: 768px) {
  .hero-info_background {
    padding: 7rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  nav {
    display: none;
  }
  .dropbtn {
    display: block;
  }
  .header__btn {
    display: none;
  }
  .hero {
    height: auto;
  }
  .hero__main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hero-info_background {
    top: 50%;
    background-color: #959dd2;
    padding: 1rem;
    margin: 1rem;
  }
  .hero-four__button a {
    padding-left: 5rem;
    margin-bottom: 5rem;
  }
  .seven-cards__background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f2f2f2), color-stop(50%, #13162b));
    background: linear-gradient(to bottom, #f2f2f2 50%, #13162b 50%);
  }
}

.fa-quote-right {
  color: #F18990;
}

.fa-star {
  color: #F18990;
}

.pins {
  margin: 0 auto;
  margin-top: 6.5rem;
}

.fa-business-time {
  color: white;
}

.icon-color {
  color: #959DD2;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.stars {
  margin-top: 1rem;
}

footer {
  background-color: #13162B;
  color: white;
  margin: 0 auto;
  padding-top: 5rem;
}

.footer-logo h2:hover, .footer-menu ul li:hover, .footer-menu ul span:hover, .footer-service ul li:hover, .closing__two p:hover {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  background-position: center 100%;
  background-size: 105%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
          box-shadow: 0px 0px 20px 0px rgba(119, 119, 119, 0.6);
}

.footer-logo h2:hover .card__button, .footer-menu ul li:hover .card__button, .footer-menu ul span:hover .card__button, .footer-service ul li:hover .card__button, .closing__two p:hover .card__button {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #027090;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.linear__cards {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #F2F2F2), color-stop(50%, #5864BA));
  background: linear-gradient(to top, #F2F2F2 50%, #5864BA 50%);
}

.closing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11rem;
  padding-bottom: 5rem;
  gap: 6rem;
  padding-right: 0;
}

.closing__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11rem;
  padding-bottom: 5rem;
  gap: 6rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
}

.footer-icons__head {
  color: #A9C3FF;
  display: inline-block;
  margin-bottom: 2rem;
}

.contact__details {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  margin-left: 3.5rem;
}

.contact__details h4 {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.contact-me__img img {
  max-width: 25.8rem;
  width: 100%;
  padding: 0 1rem;
}

.watch__img img {
  width: 100%;
  max-width: 25.8rem;
  padding: 0 1rem;
}

.margin {
  padding: 1rem;
}

.contact-blue {
  background-color: #959DD2;
  border-radius: .5rem;
  padding: 1rem 0;
  margin: 1rem;
}

.contact-pink {
  background-color: #F18990;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem 0;
}

@media screen and (max-width: 576px) {
  footer {
    text-align: center;
  }
  .closing__two {
    max-width: 26rem;
    margin: 0 auto;
  }
  .contact-me__img img {
    margin-left: 4rem;
  }
  .watch__img img {
    margin-left: 5rem;
  }
}

.dropbtn {
  background-color: #5864BA;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
  color: #ffffff;
}

.dropdown a {
  font-family: 'Epilogue', sans-serif;
  background-color: #5864BA;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
/*# sourceMappingURL=main.css.map */