.cards{
    width: 27rem;
    height: 28rem;
    background-color: white;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto;
}

.highlighted-cards{
    width: 27rem;
    height: 28rem;
    background-color: #959DD2;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin: 1rem auto;
}
.transparent-cards{
    margin-bottom: 16.6rem;
}
.transparent-cards h3{
    margin-top: 2.5rem;
    width: 100%;
    max-width: 27rem;
}
.cards-testimonials img{
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
}
.cards-testimonials p{
    color: #333333;
    margin-top: 3.2rem;
}
.cards-testimonials{
    background-color: #FFFFFF;
    padding: 3.2rem;
    border-radius: 1rem;
    margin: 1rem auto;
}
.testimonials__profiles img{
    display: block;
    margin-top: 2rem;
    margin-right: 1rem;
}
.testimonials__profiles p{
    font-size: 1.6rem;
    line-height: 3.2rem;
}
.testimonial__p{
    // height: 100%;
    height: 20rem;
    font-size: 1.6rem;
    // line-height: 3.2rem;
    margin-bottom: 1rem;
}
.card-seven{
    padding: 3.2rem;
    background-color: #333333;
    // padding-top: 25rem;
    max-height: 44.8rem;
    height: 100%;
    margin: 1rem auto;
}
.card-seven h3{
    color: #FFFFFF;
    
}

.card-seven h4{
    color: #FFFFFF;
    margin-top: 28rem;
    margin-bottom: 2rem;
}
.card-seven__second img{
    width: 37rem;
    height: 22.4rem;
    // background-color: #D8D8D8;
}
.card-seven__upper{
    max-width: 37rem;
    width: 100%;
    height: 22.4rem;
    background-color: #D8D8D8;
    margin: 1rem auto;
}
.second__details{
    padding: 2rem;
    padding-top: 3rem;
    background-color: #FFFFFF;
    padding-bottom: 5rem;
    max-width: 37rem;
    width: 100%;
    height: 22.4rem;
    margin: 1rem auto;
}
.second__details h3{
    margin-top: 2rem;
}
.card-seven__third-column{
    background-color: #FFFFFF;
    padding: 2rem;
    margin: 1rem auto;
    margin-bottom: 2rem;
    padding-bottom: 9rem;

}

.card-seven__third-column h3{
margin-top: 2rem;
}
.card-seven__third-column p{
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}
.second__details p{
    margin-top: 2rem;
}

.grey{
    color: #C4C4C4;
}
.contact-blue{
    background-color: #959DD2;
    border-radius: .5rem;
}

.contact-pink{
    background-color: #F18990;
    border-radius: .5rem;
}
.contact-pink img{
    max-width: 30rem;
    max-height: 24rem;
    width: auto;
    height: auto;
}