.fa-quote-right{
    color: #F18990;
}
.fa-star{
    color: #F18990;
}
.pins{
    margin: 0 auto;
    margin-top: 6.5rem;
}
.fa-business-time{
    color: white;
    
}
.icon-color{
    color: #959DD2;
}

.logo{
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
}
