.d-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.grey{
    color: #333333;
}
.color-blue{
    color: #608AED;
}

.align-center{
    align-items: center;
}
.justify_space-between{
    justify-content: space-between;
}

.margin-center{
    margin: 0 auto;
}




.hover-five{
    &:hover {
		transform: translateY(7px);
		background-position: center 100%;
		background-size: 105%;
		box-shadow: 0px 0px 20px 0px rgba(#777777, 0.6);

		.card__button {
			transform: translateY(0%);
			color: #027090;

			transition: all 0.3s;
		}
	}
}
