footer{
    // max-width: 144rem;
    // width: 100%;
    background-color: #13162B;
    color: white;
    margin: 0 auto;
    padding-top: 5rem;
    // text-align: right;
}
.footer-menu li{
    color: #ffff;
}

.footer-logo h2, .footer-menu ul li,  .footer-menu ul span, .footer-service ul li, .closing__two p{
    &:hover {
		transform: translateY(7px);
		background-position: center 100%;
		background-size: 105%;
		box-shadow: 0px 0px 20px 0px rgba(#777777, 0.6);

		.card__button {
			transform: translateY(0%);
			color: #027090;

			transition: all 0.3s;
		}
	}
}

.linear__cards{
    background: linear-gradient(to top, #F2F2F2 50%, #5864BA 50%);
}

.closing{
    display: flex;
    margin-top: 11rem;
    padding-bottom: 5rem;
    gap: 6rem;
    padding-right: 0;
    // justify-content: space-between;
}

.closing__two{
    display: flex;
    margin-top: 11rem;
    padding-bottom: 5rem;
    gap: 6rem;
    justify-content: flex-end;
    padding-right: 0;
    // justify-content: space-between;
}

.footer-icons__head{
    color: #A9C3FF;
    display: inline-block;
    margin-bottom: 2rem;
}
.contact__details{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    margin-left: 3.5rem;
    
}
.contact__details h4{
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.contact-me__img img{
    max-width: 25.8rem;
    width: 100%;
   padding: 0 1rem;
}
.watch__img img{
    width: 100%;
    max-width: 25.8rem;
    padding: 0 1rem;
}
.margin{
    padding: 1rem;
}

.contact-blue{
    background-color: #959DD2;
    border-radius: .5rem;
    padding: 1rem 0;
    margin: 1rem;
}

.contact-pink{
    background-color: #F18990;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem 0;
}
// .contact-pink img{
//     max-width: 30rem;
//     width: 100%;

// }
// .contact-me__img img{
//     width: 100%;
//     max-width: 25.8rem;
// }
@media screen and (max-width: 576px) {
    footer{
    
        text-align: center;
    }
    .closing__two{
        
        max-width: 26rem;
        margin: 0 auto;
    }
    
    .contact-me__img img{
        margin-left: 4rem;
       
    }
    .watch__img img{
        margin-left: 5rem;
    }
    
    }
    // media query