footer{
    // max-width: 144rem;
    // width: 100%;
    background-color: #13162B;
    color: white;
    margin: 0 auto;
    padding-top: 20.7rem;
   
}
.closing{
    display: flex;
    margin-top: 11rem;
    padding-bottom: 5rem;
    justify-content: space-between;
}