// nav{
//     max-width: 144rem;
//     width: 100%;
//     margin: 0 auto;
//     background-color: #5864BA;
//     color: white;
//     line-height: 6.4rem;
    
// }
header{
    // background-color: #4A56A7;
    color: #ffffff;
    // height: 10vh;
}

.menu ul{
    justify-content: space-between;  
}
.menu ul li{
    line-height: 6.4rem;

    &:hover {
		transform: translateY(10px);
		background-position: center 100%;
		background-size: 105%;
		box-shadow: 0px 0px 20px 0px rgba(#777777, 0.6);

		.card__button {
			transform: translateY(0%);
			color: #027090;

			transition: all 0.3s;
		}
	}
}
.logo_head{
    margin-top: 1rem;
}
.logo_head img{
    display: none;
}

.logo_head h2{
    line-height: 4.8rem;
    font-size: 4rem;  
    margin-right: auto;


    &:hover {
		transform: translateY(-10px);
		background-position: center 100%;
		background-size: 105%;
		box-shadow: 0px 0px 20px 0px rgba(#777777, 0.6);

		.card__button {
			transform: translateY(0%);
			color: #027090;

			transition: all 0.3s;
		}
	}
}
@media screen and (max-width: 576px) {
    .logo h2{
        margin-right: auto;
    }
    .logo_head img{
        display: block;
    }
}