// nav{
//     max-width: 144rem;
//     width: 100%;
//     margin: 0 auto;
//     background-color: #5864BA;
//     color: white;
//     line-height: 6.4rem;
    
// }
header{
    // background-color: #4A56A7;
    color: #ffffff;
    // height: 10vh;
}

.menu ul{
    justify-content: space-between;  
}
.menu ul li{
    line-height: 6.4rem;
}
.logo{
    margin-top: 1rem;
}
.logo h2{
    line-height: 4.8rem;
    font-size: 4rem;  
}