.hero{
    // max-width: 144rem;
    // width: 100%;
    // margin: 0 auto;
    height: 100vh;
    background-color: #4A56A7;
}

.hero__img {
    display: block;
    width: 100%;
    max-width: 55rem;
}
.hero__img img{
    display: block;
    height: auto;
    max-height: 65rem;
}
.hero__main{
    padding-top: 18rem;
    color: white;
    display: block;
}
// .hero__profile{
//     position: relative;
// }
.hero__profile img{
    margin-top: -55rem;
    margin-left: 5rem;
}


.hero__main h1{
    // display: block;
    margin:  2rem 0;
}
.hero__main p{
    // display: block;
    padding-bottom:  2rem;
}
.hero-two span{
    color: #5864BA;
}
.hero-two .head{
    text-align: center;
    margin-top: 13.8rem;
    margin-bottom: 7.2rem;
}
.hero-two .head h2{
    // display: block;
    margin:  2.5rem 0;
    
}
.hero-two{
    background-color: #F5F5FA;
    padding-top: 0.1rem;
    padding-bottom: 20.3rem;
    // text-align: center;
}

.hero-three{
    background-color: #F5F5FA;
    padding-top: 0.1rem;
    // padding-bottom: 20.3rem;
}

.highlighted-cards span{
    color: white;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
}

.hero-three__head{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.hero-three__head span{
    color: #5864BA;
}
.hero-three__head h2{
    margin: 2rem 0;
 
}


.hero-four__title{
    padding: 9rem;
}
.hero-four__title h2{
    font-size: 4rem;
    line-height: 4.8rem;
}
.hero-four{
    // position: relative;
    background-color: #5864BA;
}
.hero-four__head{
    
    // display: flex;
    background-color: #F18990;
    // margin: 0 11.2rem;
    // position: absolute;
    // top: -12rem;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.hero-four__contents{
    margin-top: 5.8rem;
    margin-bottom: 24.3rem;
    color: white;
}

.hero-four__contents h2{
    margin: 2rem 0;
}
.hero-four__contents a{
    margin-top: 3rem;
}
.hero-five__heading{
    margin: 0 auto;
    color: white;
    margin-bottom: 7rem;
    max-width: 47rem;
    width: 100%;
    text-align: center;
}
.hero-five{
    background-color: #5864BA;
    padding-bottom: 32.7rem;
}
.hero-five__heading h2{
    margin: 2rem 0;

}
.fa-quote-right{
    color: #F18990;
}
.hero-info_background{
    background-color: #959DD2;
    padding: 7rem;
    
    
}
.hero-six__infos{
    // background-color: #959DD2;
    color: #FFFFFF;
    display: flex;
    // padding: 5rem;
    // justify-content: space-between;
    // margin-top: 5rem;
    // margin-bottom: 5rem;
    
}
.infos-icons{
    background-color: #B2B8E6;
    display: block;
    width: 9.4rem;
    height: 9.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin-right: 5rem;
}
.margin-top{
    margin-top: 1rem;
}
.hero-six{
    // position: relative;
    background-color: #F2F2F2;
}
// .hero-six__upper{
//     // position: absolute;
//     // top: -12rem;
//     // left: 18rem;
//     display: flex;
//     max-width: 117rem;
// 	width: 100%;
  
//     border-radius: 2rem;
// }
.hero-six__main{
    margin-top: 29.5rem;
    margin-bottom: 19.3rem;
}
.hero-six__main h2{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.hero-six__main a{
    margin-top: 3rem;
}
.hero-seven{
    background-color: #F2F2F2;
    padding-bottom: 27rem;
}
.hero-seven__head{
    text-align: center;
    width: 100%;
    max-width: 47rem;
    margin: 0 auto;
    margin-bottom: 8rem;
}
.hero-seven__head h2{
    margin: 3rem auto;
}
.second-p{
    margin-bottom: 2rem;
}

.clinic-one img{
    margin-top: 17rem;
    max-width: 17rem;
    max-height: 21.6rem;
}
.clinic-two img{
    width: 25rem;
    height: 32.6rem;
}
.clinic-five img{
    width: 18rem;
    height: 24.6rem;
}
.clinic-six img{
    width: 17rem;
    height: 28rem;
}
.clinics{
    margin-top: 20rem;
}

