.hero {
  // max-width: 144rem;
  // width: 100%;
  // margin: 0 auto;
//   align-items: center;
 
  background-color: #4a56a7;
  padding-bottom: auto;
}

@media (min-width: 1200px){
    .hero {
        min-height: 720px;
        height: 100vh;
    }
}

.hero__img {
  // position: relative;
  // width: 100%;
  // max-width: 59rem;
  background-color: #4a56a7;
  
}
.hero__img img {
  // position: absolute;
  width: 100%;
  max-width: 50rem;
  margin-top: auto;
  margin: 0 auto;
}
.hero__main {
//   padding-top: 18rem;
//   padding-bottom: 23rem;
  color: white;
//   display: block;
// align-items: center;
}

.dropbtn{
    display: none;
}
// .hero__profile{
//     position: relative;
// }
.hero__profile img {
  margin-top: -55rem;
  margin-left: 5rem;
}

.hero__main h1 {
  // display: block;
  margin: 2rem 0;
}
.hero__main p {
  // display: block;
  padding-bottom: 2rem;
}
.hero-two span {
  color: #5864ba;
}
.hero-two .head {
  text-align: center;
  margin-top: 13.8rem;
  margin-bottom: 7.2rem;
  width: 100%;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
.hero-two .head h2 {
  // display: block;
  margin: 2.5rem 0;
}
.hero-two {
  background-color: #f5f5fa;
  padding-top: 0.1rem;
  padding-bottom: 20.3rem;
  // text-align: center;
}

.hero-three {
  background-color: #f5f5fa;
  padding-top: 0.1rem;
  // padding-bottom: 20.3rem;
  // overflow-y: visible;
  // position: relative;
  z-index: 1;
}

.highlighted-cards span {
  color: white;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
}

.hero-three__head {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.hero-three__head span {
  color: #5864ba;
}
.hero-three__head h2 {
  margin: 2rem 0;
}

.hero-four__title {
  padding: 9rem;
}
.hero-four__title h2 {
  font-size: 4rem;
  line-height: 4.8rem;
}
.hero-four {
  // position: relative;
  background-color: #5864ba;
  padding-top: 15rem;
  padding-bottom: 15rem;
  // padding-top:15rem;
  // position: relative;
}
// .head_relative{
//     position: relative;
//     padding: 1rem;
// }
.linear-background {
  // background-color: lawngreen;
  background: linear-gradient(to top, #5864ba 50%, #f5f5fa 50%);
}

.hero-four__head {
  // position: absolute;
  // z-index: 999;
  // top: -15rem;
  // margin-top: -15rem;
  background-color: #f18990;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  // height: auto;
}

.hero-four__contents {
  padding: 10rem 0;
  color: #ffffff;
}
.hero-four__contents h2 {
  margin: 2rem 0;
  // padding: 3rem 0;
}
.hero-four__contents a {
  margin-top: 3rem;
}
.hero-four__button img {
  // margin: 0 10rem;
  width: 100%;
  max-width: 45rem;
  // position: relative;
}

.hero-four__button {
  position: relative;
  max-width: 45.3rem;
  width: 100%;
  padding: 0 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
.hero-four__button img {
  max-width: 45rem;
  width: 100%;
  position: absolute;
  top: -10rem;
}

.hero-four__button a {
  padding-left: 20rem;
}

.service-img img {
  max-width: 64rem;
  width: 100%;
}
.hero-five__heading {
  margin: 0 auto;
  color: white;
  margin-bottom: 7rem;
  max-width: 47rem;
  width: 100%;
  text-align: center;
}
.hero-five {
  background-color: #5864ba;
  padding-bottom: 32.7rem;
}
.hero-five__heading h2 {
  margin: 2rem 0;
}
.fa-quote-right {
  color: #f18990;
}
.hero-info_background {
  top: 50%;
  background-color: #959dd2;
  padding: 7rem;
  margin: 1rem;
  border-radius: 1rem;
}


@media screen and (min-width: 768px) {
    .hero-info_background{
        padding:7rem 1rem;
    }
}

.hero-six__infos {
  // background-color: #959DD2;
  color: #ffffff;
  display: flex;
  margin: 1rem auto;
  // padding: 5rem;
  // justify-content: space-between;
  // margin-top: 5rem;
  // margin-bottom: 5rem;
}
.infos-icons {
  background-color: #b2b8e6;
  display: block;
  width: 9.4rem;
  height: 9.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  margin-right: 5rem;
}
.margin-top {
  margin-top: 1rem;
}
.hero-six {
  // position: relative;
  background-color: #f2f2f2;
}
.hero-six__upper {
  background: linear-gradient(to top, #f2f2f2 50%, #5864ba 50%);
}
.hero-six__main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.hero-six__main h2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.hero-six__main a {
  margin-top: 3rem;
}
.margin-top-botm {
  margin: 10rem 0;
}
.gallery img {
  max-width: 70rem;
  width: 100%;
}
.hero-seven {
  background-color: #f2f2f2;
  padding-bottom: 27rem;
}
.hero-seven__head {
  text-align: center;
  width: 100%;
  max-width: 47rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.hero-seven__head h2 {
  margin: 3rem auto;
}

.seven-cards__background {
  background: linear-gradient(to bottom, #f2f2f2 50%, #13162b 50%);
}
.second-p {
  margin-bottom: 2rem;
}

.clinic-one img {
  margin-top: 17rem;
  max-width: 17rem;
  max-height: 21.6rem;
}
.clinic-two img {
  width: 25rem;
  height: 32.6rem;
}
.clinic-five img {
  width: 18rem;
  height: 24.6rem;
}
.clinic-six img {
  width: 17rem;
  height: 28rem;
}
.clinics {
  margin-top: 20rem;
}

@media screen and (min-width: 768px) {
    .hero-info_background{
        padding:7rem 1rem;
    }
}

@media screen and (max-width: 576px) {
  nav {
    display: none;
  }
  .dropbtn{
    display: block;
}
  .header__btn {
    display: none;
  }
  .hero {
    // max-width: 144rem;
    // width: 100%;
    // margin: 0 auto;
    height: auto;
    // background-color: #4A56A7;
  }
  .hero__main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hero-info_background {
    top: 50%;
    background-color: #959dd2;
    padding: 1rem;
    margin: 1rem;
  }
  .hero-four__button a {
    padding-left: 5rem;
    margin-bottom: 5rem;
  }
  .seven-cards__background {
    background: linear-gradient(to bottom, #f2f2f2 50%, #13162b 50%);
  }
}
